<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no">

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        HTML: ["input/TeX","output/HTML-CSS"],
        TeX: { extensions: ["AMSmath.js","AMSsymbols.js"],
               equationNumbers: { autoNumber: "AMS" } },
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: { inlineMath: [ ['`','`'], ["\\(","\\)"] ],
                   processEscapes: true },
        "HTML-CSS": { availableFonts: ["TeX"],
                      linebreaks: { automatic: true } }
    });
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_SVG"></script>

  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script>
    $(document).on("mobileinit", function () {
      $.mobile.autoInitializePage = false;
      $.mobile.hashListeningEnabled = false;
    });

    function mobileInitPage() {
      $.mobile.hashListeningEnabled = true;
      $.mobile.initializePage();
    };
  </script>
   <script src="http://code.jquery.com/mobile/1.4.3/jquery.mobile-1.4.3.min.js"></script>
  <!-- Uncomment the following to include cordova in your android project -->
  <!--<script src="http://jqmdesigner.appspot.com/platforms/android/cordova.js"></script>-->
  <!-- GK Loader use RequireJS to load module -->
  <script src="http://requirejs.org/docs/release/2.1.11/minified/require.js"></script>
  <!--Plug in GK-->
  <script src="http://jqmdesigner.appspot.com/components/jquery.gk/jquery.gk.min.js"></script>
  <!-- Load GK components -->
  <script components="http://jqmdesigner.appspot.com/components/gk-ext/page-listview.html" callback="mobileInitPage" src="http://jqmdesigner.appspot.com/components/gk-loader/gk-loader.js"></script>
  <!-- Export JS  -->
  <script>
      $(document).ready(function(){
            document.getElementById("show").innerHTML='化簡`-4\\left(x-y+1\\right)+2\\left(-2x-y+5\\right)`=???????????.';

        });
    $(document).on("pageinit", "#NewPage", function () {
      var $ele = $("#gk-724jSrt"),
        url = $ele.attr("service");
      if (url) {
        $.getJSON(url).complete(function (data) {
          $("#gk-724jSrt").gk("model", $.parseJSON(data.responseText));
        });
      }
    });
      function get4Android(str){
        document.getElementById("show").innerHTML='化簡`-4\\left(x-y+1\\right)+2\\left(-2x-y+5\\right)`=???????????.';
      }
  </script>
  <title>EZo App</title>
</head>

<body gk-app>
  <!-- Page: home  -->
  <div id="home" data-role="page">
    <div data-role="header" data-position="fixed">
      <h3>OSSII 線上測驗系統</h3>
    </div>
    <div role="main" class="ui-content">
      <div class="ui-field-contain">
        <label for="gk-724KCUi" class>帳號</label>
        <input type="text" name id="gk-724KCUi">
      </div>
      <div class="ui-field-contain">
        <label for="gk-724X33G">密碼</label>
        <input type="text" name id="gk-724X33G">
      </div>
      <a class="ui-btn" href="#NewPage1">登入</a>
      <a class="ui-btn ui-btn-icon-left ui-icon-home" style="background:#D34836; color:#fff;text-shadow:none;">Sign in with Google</a>
      <a class="ui-btn ui-btn-icon-left ui-icon-star" style="background:#335795; color:#fff;text-shadow:none;">Sign in with Facebook</a>
    </div>
  </div>
  <!-- Page: NewPage1  -->
  <div id="NewPage1" data-role="page">
    <div data-role="header" data-position="fixed">
      <h3>練習列表</h3>
    </div>
    <div role="main" class="ui-content">
      <ul id="gk-724ShQ3" data-role="listview" data-inset="true" is="page-listview" pagesize="30">
        <li>
          <a href="#">{{item}}</a>
        </li>
      </ul>
      <ul id="gk-7249AlR" data-role="listview" data-inset="true" is="page-listview" pagesize="30">
        <li>
          <a href="#NewPage2">{{item}}</a>
        </li>
      </ul>
    </div>
      <div id="show">化簡`-4\\left(x-y+1\\right)+2\\left(-2x-y+5\\right)`=?????kkkkkhhhhhhhhhkkkkkkkkkkkk??????.</div>
      <button onclick="get4Android()">push</button>
  </div>

 <!-- Page: NewPage2  -->
  <div id="NewPage2" data-role="page">
    <div data-role="header" data-position="fixed">
      <h3>練習列表2</h3>
    </div>
    <div role="main" class="ui-content">
      <ul id="gk-724ShQ3" data-role="listview" data-inset="true" is="page-listview" pagesize="30">
        <li>
          <a href="#">{{item}}</a>
        </li>
      </ul>
      <ul id="gk-7249AlR" data-role="listview" data-inset="true" is="page-listview" pagesize="30">
        <li>
          <a href="#NewPage3">{{item}}</a>
        </li>
      </ul>
    </div>
      <div id="show3">???kkkkkkkkkkkkkkkkk化簡`-4\left(x-y+1\right)+2\left(-2x-y+5\right)`=?????kkkkkkkkkkkkkkkkkkkkkkkkkk??????.`-4\left(x-y+1\right)+2\left(-2x-y+5\right)`dddddddddddddddd`-4\left(x-y+1\right)+2\left(-2x-y+5\right)`fffffffffffffffffffffff`-4\left(x-y+1\right)+2\left(-2x-y+5\right)`dddddddddddddddddddddd`-4\left(x-y+1\right)+2\left(-2x-y+5\right)`ddddddddddddddddddddddddddddddddd`-4\left(x-y+1\right)+2\left(-2x-y+5\right)`</div>
      <button onclick="get4Android()">push</button>
  </div>
    <!-- Page: NewPage3  -->
  <div id="NewPage3" data-role="page">
    <div data-role="header" data-position="fixed">
      <h3>練習列表3</h3>
    </div>
    <div role="main" class="ui-content">
      <ul id="gk-724ShQ3" data-role="listview" data-inset="true" is="page-listview" pagesize="30">
        <li>
          <a href="#">{{item}}</a>
        </li>
      </ul>
      <ul id="gk-7249AlR" data-role="listview" data-inset="true" is="page-listview" pagesize="30">
        <li>
          <a href="#NewPage1">{{item}}</a>
        </li>
      </ul>
    </div>
      <div id="show3">下列何者能消去二元一次聯立方程式`\left\{ \begin{array}{ll} {2x+3y=8{}{}{}{}{}{}{}{}……① \\ 3x-5y=-7……②}  \end{array} \right.`中的一個未知數?</div>
      <button onclick="get4Android()">push</button>
  </div>



<form name="eform" method="post" action="/oxexam_online/result">
<div class='panel'>單選題20題 + 填充題10題(15格) + 計算題10題</div><div class='alert-box info radius'><h4>第1大題：選擇題</h4></div><p id='topic_1-1'> </p><div class='alert-box topic radius'><h5>1. 如右圖坐標平面上,以原點O為圓心,半徑5單位畫圓.若A點在圓上,即`\overline OA=5`,則圓上和A點一樣,距離O為5單位長的點有幾個?<p><p><img style='width:50%;height:50%; 'src='/OxQuestion/modules/oxquestion/capture/img/4639/4639-1.png'></p></h5></div><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-1" value=AA>A. <label for="1" style="display: inline;">1個</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-1" value=AB>B. <label for="1" style="display: inline;">2個</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-1" value=AC>C. <label for="1" style="display: inline;">4個</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-1" value=AD>D. <label for="1" style="display: inline;">無限多個</label><br /><p id='topic_1-2'> </p><div class='alert-box topic radius'><h5>2. 下列何者為等差數列?</h5></div><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-2" value=AA>A. <label for="2" style="display: inline;">`1+2+3+4+5`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-2" value=AB>B. <label for="2" style="display: inline;">`11^2,12^2,13^2,14^2,15^2`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-2" value=AC>C. <label for="2" style="display: inline;">`\sqrt 2,\sqrt 3,\sqrt 4,\sqrt 5,\sqrt 6`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-2" value=AD>D. <label for="2" style="display: inline;">`\sqrt 2,\sqrt 8,\sqrt 18,\sqrt 32,\sqrt 50`</label><br /><p id='topic_1-3'> </p><div class='alert-box topic radius'><h5>3. 小芸在做美術作品時,拿了一張圓形的紙板,依照下圖所示將圓對摺三次,然後用打洞機打出一個洞,則下列何者是此圓的展開圖?<br/><br/><img style='width:50%;height:50%;' src='/OxQuestion/modules/oxquestion/capture/img/4652/4652-1.png'><br/></h5></div><input style="WIDTH: 15px; HEIGHT: 15px; display:inline" type="radio" name="1-3" value=AA>A. <label style="display:inline;" for="3"><img class='img_inline' id='img_'."1-3" src='/OxQuestion/modules/oxquestion/capture/img/4652/4652-2.png'></label><input style="WIDTH: 15px; HEIGHT: 15px; display:inline" type="radio" name="1-3" value=AB>B. <label style="display:inline;" for="3"><img class='img_inline' id='img_'."1-3" src='/OxQuestion/modules/oxquestion/capture/img/4652/4652-3.png'></label><input style="WIDTH: 15px; HEIGHT: 15px; display:inline" type="radio" name="1-3" value=AC>C. <label style="display:inline;" for="3"><img class='img_inline' id='img_'."1-3" src='/OxQuestion/modules/oxquestion/capture/img/4652/4652-4.png'></label><input style="WIDTH: 15px; HEIGHT: 15px; display:inline" type="radio" name="1-3" value=AD>D. <label style="display:inline;" for="3"><img class='img_inline' id='img_'."1-3" src='/OxQuestion/modules/oxquestion/capture/img/4652/4652-5.png'></label><p id='topic_1-4'> </p><div class='alert-box topic radius'><h5>4. <u>看美弦電影城</u>放映廳座位的安排如下圖:<br/><p><p><img style='width:50%;height:50%; 'src='/OxQuestion/modules/oxquestion/capture/img/4653/4653-1.png'></p>若小姜拿到的座位號碼是149,那麼他應該坐在第幾排、第幾列?</h5></div><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-4" value=AA>A. <label for="4" style="display: inline;">第5排、第12列</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-4" value=AB>B. <label for="4" style="display: inline;">第3排、第12列</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-4" value=AC>C. <label for="4" style="display: inline;">第3排、第13列</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-4" value=AD>D. <label for="4" style="display: inline;">第5排、第13列</label><br /><p id='topic_1-5'> </p><div class='alert-box topic radius'><h5>5. 將`x=1 \over 2`,`y=-1 \over 3`代入`2x-3y+1`所得的結果為下列何者?</h5></div><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-5" value=AA>A. <label for="5" style="display: inline;">1</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-5" value=AB>B. <label for="5" style="display: inline;">2</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-5" value=AC>C. <label for="5" style="display: inline;">3</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-5" value=AD>D. <label for="5" style="display: inline;">4</label><br /><p id='topic_1-6'> </p><div class='alert-box topic radius'><h5>6. 撲滿中,有10元與50元的硬幣共40個,共1000元,如果10元的有`x`個,50元的有`y`個,則可列得`x、y`的聯立方程式為何?</h5></div><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-6" value=AA>A. <label for="6" style="display: inline;">`\left\{ \begin{array}{ll} {x+y=40 \\ 10x+50y=1000}  \end{array} \right.`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-6" value=AB>B. <label for="6" style="display: inline;">`\left\{ \begin{array}{ll} {x+y=1000 \\ 10x+50y=40}  \end{array} \right.`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-6" value=AC>C. <label for="6" style="display: inline;">`\left\{ \begin{array}{ll} {x+y=40 \\ 50x+10y=1000}  \end{array} \right.`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-6" value=AD>D. <label for="6" style="display: inline;">`\left\{ \begin{array}{ll} {x+y=1000 \\ 50x+10y=40}  \end{array} \right.`</label><br /><p id='topic_1-7'> </p><div class='alert-box topic radius'><h5>7. 化簡`-4\left(x-y+1\right)+2\left(-2x-y+5\right)`=?</h5></div><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-7" value=AA>A. <label for="7" style="display: inline;">`2y+6`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-7" value=AB>B. <label for="7" style="display: inline;">`-6x+2y+6`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-7" value=AC>C. <label for="7" style="display: inline;">`-8x+2y+6`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-7" value=AD>D. <label for="7" style="display: inline;">`-8x-6y+6`</label><br /><p id='topic_1-8'> </p><div class='alert-box topic radius'><h5>8. 解聯立方程式`\left\{ \begin{array}{ll} {3x-4y=5……① \\ 2x+3y=4……②}  \end{array} \right.`時,下列哪一種方法可消去`y`?</h5></div><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-8" value=AA>A. <label for="8" style="display: inline;">`① × 2-② × 3`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-8" value=AB>B. <label for="8" style="display: inline;">`① × 3+② × 4`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-8" value=AC>C. <label for="8" style="display: inline;">`② × 4-① × 3`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-8" value=AD>D. <label for="8" style="display: inline;">`① × 2+ ② × 3`</label><br /><p id='topic_1-9'> </p><div class='alert-box topic radius'><h5>9. 若`\left(a,b\right)`在第二象限,`\left(c,d\right)`在第四象限,則`∣ a-b ∣+∣ c-d ∣`=</h5></div><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-9" value=AA>A. <label for="9" style="display: inline;">`a-b+c-d`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-9" value=AB>B. <label for="9" style="display: inline;">`{a-b-c+d}`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-9" value=AC>C. <label for="9" style="display: inline;">`{-a+b+c-d}`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-9" value=AD>D. <label for="9" style="display: inline;">`{-a+b-c+d}`</label><br /><p id='topic_1-10'> </p><div class='alert-box topic radius'><h5>10. 有一最簡分數,已知分子的兩倍恰好比分母多一,而分母的兩倍則為分子的三倍多一,若我們將分子設為`x`,分母設為`y`,則依題意可列出下列哪一組聯立方程式?</h5></div><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-10" value=AA>A. <label for="10" style="display: inline;">`\left\{ \begin{array}{ll} {2x-y=1 \\ 2y=3x+1}  \end{array} \right.`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-10" value=AB>B. <label for="10" style="display: inline;">`\left\{ \begin{array}{ll} {2y=x+1 \\ 2x=3y+1}  \end{array} \right.`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-10" value=AC>C. <label for="10" style="display: inline;">`\left\{ \begin{array}{ll} {2x+1=y \\ 2y+1=3x}  \end{array} \right.`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-10" value=AD>D. <label for="10" style="display: inline;">`\left\{ \begin{array}{ll} {2x=y+1 \\ 2y+1=3x}  \end{array} \right.`</label><br /><p id='topic_1-11'> </p><div class='alert-box topic radius'><h5>11. 下列何者能消去二元一次聯立方程式`\left\{ \begin{array}{ll} {2x+3y=8{}{}{}{}{}{}{}{}……① \\ 3x-5y=-7……②}  \end{array} \right.`中的一個未知數?</h5></div><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-11" value=AA>A. <label for="11" style="display: inline;">`① × 3+② × 2`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-11" value=AB>B. <label for="11" style="display: inline;">`① × 5+② × 3`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-11" value=AC>C. <label for="11" style="display: inline;">`① × 2-② × 3`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="radio" name="1-11" value=AD>D. <label for="11" style="display: inline;">`① × 5-② × 3`</label><br /><p id='topic_1-12'> </p><div class='alert-box topic radius'><h5>12. 有一等差數列`a_1,a_2,a_3,……a_49`,已知該等差數列的公差為`-10`且`a_25=0`,則下列敘述何者不正確?</h5></div><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-12" value=DA>A. <label for="12" style="display: inline;">`a_5+a_30<0`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-12" value=DB>B. <label for="12" style="display: inline;">`a_12+a_38=0`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-12" value=DC>C. <label for="12" style="display: inline;">`a_38-a_20<0`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-12" value=DD>D. <label for="12" style="display: inline;">`a_1+a_48>0`</label><br /><p id='topic_1-13'> </p><div class='alert-box topic radius'><h5>13. 有一等差數列`a_1,a_2,a_3,……a_7`,若`a_1+a_2=23`,`a_6+a_7=5`,則`a_3+a_5`=</h5></div><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-13" value=DA>A. <label for="13" style="display: inline;">`56`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-13" value=DB>B. <label for="13" style="display: inline;">`42`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-13" value=DC>C. <label for="13" style="display: inline;">`21`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-13" value=DD>D. <label for="13" style="display: inline;">`14`</label><br /><p id='topic_1-14'> </p><div class='alert-box topic radius'><h5>14. 有一等差數列`a_1,a_2,a_3,……a_6`,公差為`d`,則下列何者不正確?</h5></div><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-14" value=DA>A. <label for="14" style="display: inline;">`a_5-a_1=4d`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-14" value=DB>B. <label for="14" style="display: inline;">`a_3+a_4=a_2+a_5`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-14" value=DC>C. <label for="14" style="display: inline;">`a_5-a_3=a_2`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-14" value=DD>D. <label for="14" style="display: inline;">`a_1+a_3+a_5=a_2+a_4+a_6-3d`</label><br /><p id='topic_1-15'> </p><div class='alert-box topic radius'><h5>15. 有一等差數列`a_1,a_2,a_3,……a_100`,若`a_70-a_57>0`,則下列何者正確?</h5></div><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-15" value=DA>A. <label for="15" style="display: inline;">`a_43-a_69>0`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-15" value=DB>B. <label for="15" style="display: inline;">`a_18+a_51>a_21+a_48`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-15" value=DC>C. <label for="15" style="display: inline;">`a_12+a_31,a_9+a_34`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-15" value=DD>D. <label for="15" style="display: inline;">`a_5+a_30<a_13+a_23`</label><br /><p id='topic_1-16'> </p><div class='alert-box topic radius'><h5>16. 若將等差數列`a_1,a_2,a_3,……a_50`的每一項都減去10則形成一個新數列,下列何者是正確的?</h5></div><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-16" value=DA>A. <label for="16" style="display: inline;">新數列的和比原數列的和少500</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-16" value=DB>B. <label for="16" style="display: inline;">新數列的公差大於原數列的公差</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-16" value=DC>C. <label for="16" style="display: inline;">新數列不是等差數列</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-16" value=DD>D. <label for="16" style="display: inline;">新數列的公差比原數列的公差少10</label><br /><p id='topic_1-17'> </p><div class='alert-box topic radius'><h5>17. 下列各敘述何者正確?</h5></div><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-17" value=DA>A. <label for="17" style="display: inline;">每邊長均為5公分的五邊形為正五邊形</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-17" value=DB>B. <label for="17" style="display: inline;">每邊長均為4公分的四邊形為正方形</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-17" value=DC>C. <label for="17" style="display: inline;">每邊長均為3公分的三角形為正三角形</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-17" value=DD>D. <label for="17" style="display: inline;">若&ang;A與&ang;B互補,且&ang;B與&ang;C互餘,則&ang;C=90&deg;`-{}`&ang;A</label><br /><p id='topic_1-18'> </p><div class='alert-box topic radius'><h5>18. 設一等差數列第`m`項為`n`,第`n`項為`m`,則下列何者正確?</h5></div><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-18" value=DA>A. <label for="18" style="display: inline;">此數列首項為`m+n+1`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-18" value=DB>B. <label for="18" style="display: inline;">此數列公差為1</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-18" value=DC>C. <label for="18" style="display: inline;">此數列的前`\left(m+n\right)`項和為`\left(m+n\right)^2`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-18" value=DD>D. <label for="18" style="display: inline;">此數列第`\left(m+n\right)`項為0</label><br /><p id='topic_1-19'> </p><div class='alert-box topic radius'><h5>19. 在12與36之間插入15個數使其成為一等差數列,則此等差數列之公差為</h5></div><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-19" value=DA>A. <label for="19" style="display: inline;">`8 \over 3`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-19" value=DB>B. <label for="19" style="display: inline;">`3 \over 2`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-19" value=DC>C. <label for="19" style="display: inline;">`24 \over 17`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-19" value=DD>D. <label for="19" style="display: inline;">無法得知</label><br /><p id='topic_1-20'> </p><div class='alert-box topic radius'><h5>20. 設一等差級數首項為`-48`,第13項為`-22`,若此等差數列自第1項加到第n項時其和為正數,則n最小為</h5></div><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-20" value=DA>A. <label for="20" style="display: inline;">`48`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-20" value=DB>B. <label for="20" style="display: inline;">`47`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-20" value=DC>C. <label for="20" style="display: inline;">`46`</label><br /><input style="WIDTH: 15px; HEIGHT: 15px" type="checkbox" name="1-20" value=DD>D. <label for="20" style="display: inline;">`45`</label><br /><div class='alert-box info radius'><h4>第2大題：填充題</h4></div><p id='topic_2-1'> </p><div class='alert-box topic radius'><h5>1. 解聯立方程式`\left\{ \begin{array}{ll} {113x+520y=-2171 \\ 520x+113y=5969}  \end{array} \right.`,則`x`=<input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='2-1-1' id='qq' value=''/>,`y`=<input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='2-1-2' id='qq' value=''/></h5></div><p id='topic_2-2'> </p><div class='alert-box topic radius'><h5>2. 一瓶柳橙汁連瓶共重1700公克,若將柳橙汁喝掉`3 \over 4`後,連瓶共重500公克,則原本柳橙汁重<input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='2-2-1' id='qq' value=''/>公克.</h5></div><p id='topic_2-3'> </p><div class='alert-box topic radius'><h5>3. 已知`\left(2x-y-11\right)^2+ ∣ 7x+3y-6 ∣ + ∣ x+2y-k ∣=0`,則`\left(x,k\right)`位於坐標平面上的 第<input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='2-3-1' id='qq' value=''/>象限.</h5></div><p id='topic_2-4'> </p><div class='alert-box topic radius'><h5>4. 若&ang;1=`\left(2x-7\right)°`,&ang;2=`\left(4x-42\right)°`,且3&ang;2與2&ang;1互補,則&ang;1= <input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='2-4-1' id='qq' value=''/></h5></div><p id='topic_2-5'> </p><div class='alert-box topic radius'><h5>5. 如圖,A、P、B三點共線,`\overline PD`平分&ang;BPC,`\overline PE`平分&ang;APC,若&ang;APE=3&ang;CPD,則&ang;BPD = <input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='2-5-1' id='qq' value=''/><p><p><img style='width:50%;height:50%; 'src='/OxQuestion/modules/oxquestion/capture/img/4660/4660-1.png'></p></h5></div><p id='topic_2-6'> </p><div class='alert-box topic radius'><h5>6. 解二元一次聯立方程式`\left\{ \begin{array}{ll} {y=x-1 \\ 2x-3y=5}  \end{array} \right.`,則`x`= <input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='2-6-1' id='qq' value=''/>,`y`= <input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='2-6-2' id='qq' value=''/>.(全對才給分)</h5></div><p id='topic_2-7'> </p><div class='alert-box topic radius'><h5>7. 解二元一次聯立方程式`\left\{ \begin{array}{ll} {7x+y+9=2\left(4x+2y+3\right) \\ 3\left(2x-y+2\right)=3x-4y-1}  \end{array} \right.`,則`x`=<input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='2-7-1' id='qq' value=''/>,`y`=<input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='2-7-2' id='qq' value=''/>.(全對才給分)</h5></div><p id='topic_2-8'> </p><div class='alert-box topic radius'><h5>8. 已知二元一次聯立方程式`\left\{ \begin{array}{ll} {76x+74y=168 \\ 74x+76y=132}  \end{array} \right.`,則`x`=<input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='2-8-1' id='qq' value=''/>,`y`=<input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='2-8-2' id='qq' value=''/>.(全對才給分)</h5></div><p id='topic_2-9'> </p><div class='alert-box topic radius'><h5>9. 甲、乙兩人同解`\left\{ \begin{array}{ll} {3x+ay=26 \\ bx-2y=c}  \end{array} \right.`,甲解得正確答案為`x=2、``y=-5`;乙看錯`a`,解得`x=4`、`y=6`,除此之外兩人並無其他計算錯誤,則`a+b+c`=<input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='2-9-1' id='qq' value=''/></h5></div><p id='topic_2-10'> </p><div class='alert-box topic radius'><h5>10. 如圖,四邊形ABCD為邊長20公分的正方形,灰色區域為扇形重疊之部分,則:<p><p><img style='width:50%;height:50%; 'src='/OxQuestion/modules/oxquestion/capture/img/4738/4738-1.png'></p>(1)灰色周長為<input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='2-10-1' id='qq' value=''/>. (2)灰色面積為<input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='2-10-2' id='qq' value=''/>`cm^2`.</h5></div><div class='alert-box info radius'><h4>第3大題：計算題</h4></div><p id='topic_3-1'> </p><div class='alert-box topic radius'><h5>1預設題目</h5></div><input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='3-1' id='qq' value=''/><p id='topic_3-2'> </p><div class='alert-box topic radius'><h5>2預設題目</h5></div><input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='3-2' id='qq' value=''/><p id='topic_3-3'> </p><div class='alert-box topic radius'><h5>3. 老陳每天開車上下班.他上班地點每小時停車費的3倍,恰好是住家附近每小時車費的4倍.本週他於上班地點共停車35小時,於住家附近共停車55小時,總共付了3050元的停車費,則老陳在住家附近的停車費每小時是多少元?</h5></div><div class='alert-box topic radius'><h5>3預設題目</h5></div><input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='3-3' id='qq' value=''/><p id='topic_3-4'> </p><div class='alert-box topic radius'><h5>4預設題目</h5></div><input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='3-4' id='qq' value=''/><p id='topic_3-5'> </p><div class='alert-box topic radius'><h5>5預設題目</h5></div><input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='3-5' id='qq' value=''/><p id='topic_3-6'> </p><div class='alert-box topic radius'><h5>6預設題目</h5></div><input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='3-6' id='qq' value=''/><p id='topic_3-7'> </p><div class='alert-box topic radius'><h5>7預設題目</h5></div><input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='3-7' id='qq' value=''/><p id='topic_3-8'> </p><div class='alert-box topic radius'><h5>8預設題目</h5></div><input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='3-8' id='qq' value=''/><p id='topic_3-9'> </p><div class='alert-box topic radius'><h5>9預設題目</h5></div><input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='3-9' id='qq' value=''/><p id='topic_3-10'> </p><div class='alert-box topic radius'><h5>10預設題目</h5></div><input type='text' maxlength='10' size='35' style=' width:13.5%; font-size:20px;' name='3-10' id='qq' value=''/>            <br/>
            <input type="hidden" name="mysql_exam_id" value="63">
            <input id="esubmit" class="button radius" type="submit" value="作答結束" ng-click="disreloadbox()">
            <input class="button radius" type="reset" value="全部清除">
        </form>
</body>

</html>
