<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css">
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        HTML: ["input/TeX","output/HTML-CSS"],
        TeX: { extensions: ["AMSmath.js","AMSsymbols.js"],
               equationNumbers: { autoNumber: "AMS" } },
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: { inlineMath: [ ['`','`'], ["\\(","\\)"] ],
                   processEscapes: true },
        "HTML-CSS": { availableFonts: ["TeX"],
                      linebreaks: { automatic: true } }
    });
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_SVG"></script>

<script>
      $(document).ready(function(){
            var mydata = AndroidFunction.getdatajson();
            var mydata = JSON.parse(mydata);
            //aaa = JSON.stringify(aaa);
            //AndroidFunction.showToast(aaa);
           //document.getElementById("show").innerHTML=mydata[0][0].questions[0].topic;
          get4Android();
          $("#allpage").html("Hello <b>world!</b>");
        });
      function get4Android(str){
        //document.getElementById("show").innerHTML=mydata[0][0].questions[0].topic;
        //AndroidFunction.showToast("sdfsafdasdfas");
        //document.getElementById("allpage").innerHTML="<div data-role=\"page\" id=\"page3\"><div data-role=\"header\"><h1>Welcome To My Homepage3</h1></div><div data-role=\"main\" class=\"ui-content\"><p>Welcome! If you click on the link below, it will take you to Page Two.</p><a href=\"#page1\">Go to Page Two</a></div><div data-role=\"footer\"><h1>Footer Text</h1></div></div>";
          $("#allpage").html("Hello <b>world!</b>");
      }
  </script>

</head>
<body>
<div data-role="page" id="page1">
     <div id="allpage">dddd</div>
  <div data-role="header">
    <h1>Welcome To My Homepage</h1>
  </div>

  <div data-role="main" class="ui-content">
    <p>Welcome! If you click on the link below, it will take you to Page Two.</p>
    <a href="#page2">Go to Page Two</a>
<div id="show3">下列何者能消去二元一次聯立方程式`\left\{ \begin{array}{ll} {2x+3y=8{}{}{}{}{}{}{}{}……① \\ 3x-5y=-7……②}  \end{array} \right.`中的一個未知數?</div>
  </div>

  <div data-role="footer">
    <h1>Footer Text</h1>
  </div>
</div> 

<div data-role="page" id="page2">
  <div data-role="header">
    <h1>Welcome To My Homepage</h1>
  </div>

  <div data-role="main" class="ui-content">
    <p>This is Page Two. If you click on the link below, it will take you to Page One.</p>
    <a href="#page3">Go to Page One</a>
<div id="show3">???kkkkkkkkkkkkkkkkk化簡`-4\left(x-y+1\right)+2\left(-2x-y+5\right)`=?????kkkkkkkkkkkkkkkkkkkkkkkkkk??????.`-4\left(x-y+1\right)+2\left(-2x-y+5\right)`dddddddddddddddd`-4\left(x-y+1\right)+2\left(-2x-y+5\right)`fffffffffffffffffffffff`-4\left(x-y+1\right)+2\left(-2x-y+5\right)`dddddddddddddddddddddd`-4\left(x-y+1\right)+2\left(-2x-y+5\right)`ddddddddddddddddddddddddddddddddd`-4\left(x-y+1\right)+2\left(-2x-y+5\right)`???kkkkkkkkkkkkkkkkk化簡`-4\left(x-y+1\right)+2\left(-2x-y+5\right)`=?????kkkkkkkkkkkkkkkkkkkkkkkkkk??????.`-4\left(x-y+1\right)+2\left(-2x-y+5\right)`dddddddddddddddd`-4\left(x-y+1\right)+2\left(-2x-y+5\right)`fffffffffffffffffffffff`-4\left(x-y+1\right)+2\left(-2x-y+5\right)`dddddddddddddddddddddd`-4\left(x-y+1\right)+2\left(-2x-y+5\right)`ddddddddddddddddddddddddddddddddd`-4\left(x-y+1\right)+2\left(-2x-y+5\right)`如右圖坐標平面上,以原點O為圓心,半徑5單位畫圓.若A點在圓上,即`\overline OA = 5`,則圓上和A點一樣,距離O為5單位長的點有幾個?{{pic}}</div>
  </div>

  <div data-role="footer">
    <h1>Footer Text</h1>
    <div id="show">dhhhhddd</div>
  </div>
</div>
    

    
</body>
</html>

